{% extends "base.html.twig" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
      <title>Bienvenue sur mon blog</title>
      <meta charset="utf-8">
</head>
<body>
   <h1>Formulaire d'ajout </h1>
   {{form(formArticle)}}

</body>
</html>
{% endblock %}