{% extends "base.html.twig" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
      <title>Bienvenue sur mon blog</title>
      <meta charset="utf-8">
</head>
<body>
     <h1> SHOW!!</h1>
     <h2> Bienvenue sur mon blog</h2>
</body>
</html>
{% endblock %}